<% content_for(:title, t('.title')) %>
<div class="container">
  <div class='mx-auto w-50'>
    <div class='card text-dark bg-light mt-common'>
      <div class='card-header text-center fw-bold h5 subject-bg-color'><%= t('.title') %></div>
      <div class='card-body'>
        <%= render 'form', subject: @subject %>
      </div>
    </div>
  </div>
</div>
