<% content_for(:title, t('.title')) %>
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-12 mx-auto">
        <h3 class="title-text text-center"><%= t('.title') %></h3>
        <%= render 'form', subject: @subject %>
      </div>
    </div>
  </div>
</section>
