.background {
  width: 100%;
  height: 100vh;
  // background-image: url('background-image1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-image-1 {
  background-image: url('background-image1.jpg');
}

.background-image-2 {
  background-image: url('background-image2.jpg');
}

.background-image-3 {
  background-image: url('background-image3.jpg');
}

.service-main-color {
  color: var(--primary-color);
}

.title-text {
  color: var(--text-primary-color);
  margin-bottom: 8px;
}

.label-text {
  color: var(--text-primary-color);
  font-weight: bold;
  font-size: 20px;
}

.link-text {
  color: var(--link-color);
}

.custom-login {
  margin: 0 100px;
}

.btn-wide {
  width: 150px;
}

// .first {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   background-color: var(--dark-color);
// }

// .prev {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   background-color: var(--dark-color);
// }

// .page {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   background-color: var(--dark-color);
// }

// .page.current {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   background-color: var(--white-color);
// }

// .next {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   background-color: var(--dark-color);
// }

// .last {
//   border: solid 1px var(--dark-color);
//   padding: 5px 10px;
//   border-radius: 0 25% 25% 0;
//   background-color: var(--dark-color);
// }

.pagination span {
  border: solid 1px var(--dark-color);
  padding: 5px 10px;
  background-color: var(--dark-color);
}

.pagination span:first-of-type {
  border-radius: 25% 0 0 25%;
}

.pagination span:last-of-type {
  border-radius: 0 25% 25% 0;
}

.pagination .current {
  background-color: var(--white-color);
}
// .subject-bg-color {
//   background-color: #b7eefc;
// }

// .mt-common {
//   margin-top: 50px;
// }
